body {
  background-image: url(./images/skyrim-wilderness.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.book-container {
  background-image: url(../odin-recipes/images/skyrim-journal-bg.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  width: 90%;
  max-width: 1000px;
  aspect-ratio: 16 / 9;

  display: flex;
}

.book-text {
  margin: 3% 22% 5% 45%;
  overflow-y: auto;

  font-family: "Georgia", serif;
  color: #2c1608;
  line-height: 1.25;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.book-text ul {
  display: inline;
  list-style: none;
}

.book-text ul li img {
  width: 15%;
}

.book-text img {
  width: 45%;
}